@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sail&display=swap');
:root{
    --font-family:poppins,serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    gap: 1px;
    grid-template-columns:  0.6fr 2fr;
}
nav{
    height: 100vh;
    background-color: #242323;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
#menu{
    display: flex;
    flex-direction: column;
}
#menu div::after{
    content: "";
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    width: 90%;
    height: 2px;
    left: 9px;
    stroke: white;
    top: 50px;
    border-radius: 10px;
}
#menu div{
    margin: 13px;
    position: relative;
    padding: 15px;
}
nav div img{
    height: 29px;
    width: 29px;
    margin-right: 10px;
}
nav div:nth-child(4) img{
    height: 23px;
    width: 23px;
}
nav li{
    list-style-type: none;
}
nav li a{
    justify-content: flex-start;
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: var(--font-family);
    align-items: center;
}
#intro{
    background-color: black;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
#intro div {
    padding: 30px;
    margin-top: 60px;
}
#intro div h1,#intro div h2{
    color: white;
    font-family: var(--font-family);
    font-size: 35px;
    padding: 10px;
}
#intro div p{
    color: white;
    padding:20px;
    line-height: 25px;
    margin-top: 50px;
    font-family: var(--font-family);
    letter-spacing: 2px;
}
#intro div h1 span{
    color: red;
    font-family: sail;
    font-size: 40px;
    padding: 7px;
}
#intro div span {
color: red;
}
#intro div:nth-child(2) img{
    width: 336px;
    height: 314px;
    object-fit:scale-down;
    margin-top: 50px;
    position: relative;
}
#intro div:nth-child(2){
    padding: 20px;
    position: relative;
}
#intro div:nth-child(2)::before{
    content: "";
    height: 80px;
    width: 80px;
    position: absolute;
    left: 20px;
    top: 30px;
    border-top: 8px solid red;
    border-left: 8px solid red;
}
#intro div:nth-child(2)::after{
    content: "";
    height: 80px;
    width: 80px;
    position: absolute;
    border-top: 8px solid red;
    border-left: 8px solid red;
    right: 26px;
    transform: rotate(180deg);
    bottom: 54px;
}
#button{
    height: 45px;
    width: 140px;
    font-family: var(--font-family);
    background-color: red;
    border: none;
    border-radius: 20px;
    color: white;
    margin-left: 50px;
}
#button:hover{
    background-color: #2423239f;
}
#about{
    background-color: black;
    height: 100vh;
}
.container{
    margin-left: 10px;
    padding: 70px 15px 15px 15px ;
    color: white;
}
#about .container h1{
    font-family: var(--font-family);
    font-size: 35px;
    position: relative;
}
#about .container h1:after{
    content: "";
    position: absolute;
    width: 65px;
    height: 16px;
    bottom: -20px;
    left: 0;
    border-top: 4px solid #FF9900;
    border-bottom: 4px solid #FF9900;
}
#about .container #some h3{
font-size: 25px;
margin-top: 70px;
font-family: var(--font-family);
}
#about .container #some h3 span{
color: #FF9900;
}
#about .container p{
    margin-top: 8px;
    font-family: var(--font-family);
}
#infos{
    display: flex;
    margin-top: 50px;
}
#infos>div{
    position: relative;
}
#infos>div:nth-child(2){
margin-left: 70px;
}
#infos .info{
    padding: 15px;
    font-family: var(--font-family);
    font-size: 16px;
}
#infos .info:after{
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    width: 289px;
    height: 2px;
    border-radius: 5px;
}
#infos .info span{
    margin-left: 10px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}
#infos>div:nth-child(3){
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#infos>div:nth-child(3) h2{
    font-family: var(--font-family);
    font-size: 25px;
}
#infos>div:nth-child(3) h4{
    font-family: var(--font-family);
    font-size: 20px;
    color: #FF9900;
}
.button{
    padding: 6px 20px;
    color: white;
    font-family: var(--font-family);
    background-color: #FF9900;
    border: none;
    border-radius: 12px;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
}
.button:hover{
    background-color: #f8a72e;
}